---
layout: default
---


<section class="careers">
    <div class="container">
        <div class="inner-container">
            <h5><a href="https://www.us.army.mil/suite/page/644108">U.S. Army Career Counselors</a> (AKO Account Required)</h5>
            <p>Counsel and mentor Soldiers and family members regarding Army benefits, programs, and opportunities. Career Counselors are the subject matter experts on all facets of Army life to include reenlistment, transfer of education benefits, and reclassification. Career Counselors are highly trained non-commissioned officers and a product of an arduous qualification process. They function as personal agents on behalf of commanders and the Department of the Army through the Army Retention Program. All Soldiers have a Career Counselor available to them and can usually be found at the battalion levels and above.</p>
            
            <h5><a href="https://www.hrc.army.mil/">U.S. Army Human Resources Command</a></h5>
            <p>U.S. Army Human Resources Command (HRC) provides the full spectrum of human resources services to Soldiers, Veterans, Retirees and Army Families. They are the largest human resources organization in the world. HRC manages Soldier schooling, promotions, awards, records, transfers, appointments, benefits, retirement, and more.</p>
            
            <h5><a href="http://www.mepcom.army.mil/">Military Entrance Processing Organization</a></h5>
            <p>The Military Entrance Processing Station (MEPS) plays a vital role in maintaining the nation's military might by ensuring that each new member of the Armed Forces: The Army, Marines, Navy, Air Force and Coast Guard; meets the high mental, moral and medical standards required by the Department of Defense and the military services.</p>
            
            <h5><a href="http://call.army.mil">Center for Army Lessons Learned</a></h5>
            <p>The Center for Army Lessons Learned (CALL) collects and analyzes data from a variety of current and historical sources, including Army operations and training events, and produces lessons for military commanders, staff, and students. CALL disseminates these lessons and other related research materials through a variety of print and electronic media.</p>
            
            <h5><a href="http://www.usarec.army.mil/">U.S. Army Recruiting Command</a></h5>
            <p>The U.S. Army Recruiting Command recruits volunteers to meet the needs of an expeditionary Army, begins the transition from civilian to Soldier, serves as the liaison with the American people, and does all with integrity. Inspired by the Warrior Ethos and Army Values, recruit volunteers with a highly–trained team that is properly resourced, leverages technology and is valued by the Army and the Nation.</p>
            
            <h5><a href="http://www.usaac.army.mil/">U.S. Army Accessions Command</a></h5>
            <p>Charged with providing integrated command and control of the recruiting and initial military training for the Army's officer, warrant officer, and enlisted forces. Designed to meet the human resource needs of the Army from first handshake to first unit of assignment, the command transforms volunteers into Soldiers and leaders for the Army.</p>
            
            <h5><a href="https://www.cool.army.mil/">Army Credentialing Opportunities Online</a></h5>
            <p>COOL (Credentialing Opportunities On-Line) explains how Army Soldiers can meet civilian certification and license requirements related to their Military Occupational Specialties (MOSs).</p>
        </div>
    </div>
</section>