// ----------------------------------------------------------------------
// globals/base
// ----------------------------------------------------------------------
@import "globals/base";

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import "globals/layout";

// ----------------------------------------------------------------------
// globals/elements
// ----------------------------------------------------------------------
@import "globals/elements/buttons";
@import "globals/elements/header";
@import "globals/elements/social";
@import "globals/elements/footer";
@import "globals/elements/masthead";

// ----------------------------------------------------------------------
// project scss
// ----------------------------------------------------------------------

.careers {
  h5 {
    margin-bottom: 15px;
    margin-top: 50px;

    a {
      font-weight: 700;
    }

    @include breakpoints(sm_desktop desktop large really_big) {
      margin: 60px 0 15px;
    }
  }

  .container {
    @include breakpoints(lg_tablet tablet nav mobile) {
      margin-bottom: 60px;
    }
  }
}
