<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <title>Career Management | The United States Army</title>
    <meta property="keywords" name="keywords" content="US Army,Army,ARMY.mil,army careers,army career management"/>
    <meta property="description" name="description" content="Frequently Asked Questions"/>
    <meta property="og:title" content="Career Management | The United States Army"/>
    <meta property="og:site_name" content="Career Management | The United States Army"/>
    <meta property="og:description" content="Career Management | The United States Army"/>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.army.mil/info/armylife/careermanagement/">
    <link rel="canonical" href="https://www.army.mil/info/armylife/careermanagement/">
    <link rel="stylesheet" href="/e2/css/rv7/careers/style.css">
</head>
<body>
    {% include globals/elements/upgrade.html %}
    {% include globals/elements/header.html %}
    
    {% include masthead.html %}
    
    <div class="main">
        {{ content }}
    </div>
    {% include globals/elements/footer.html %}
    <script type="text/javascript" src="/e2/js/rv7/careers/careers.min.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-27189539-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
       //<![CDATA[
             var usasearch_config = { siteHandle:"www.army.mil" };
             var script = document.createElement("script");
             script.type = "text/javascript";
             script.src = "https://search.usa.gov/javascripts/remote.loader.js";
             document.getElementsByTagName("head")[0].appendChild(script);
       //]]>
    </script>
</body>
</html>

